on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: unit-tests-cli

permissions:
  contents: read

jobs:
  devtools_test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]

    steps:
      - uses: actions/checkout@v5
      - name: Create this folder to silence warning
        run: mkdir -p ~/.nix-defexpr/channels
      - uses: cachix/install-nix-action@v31

      - name: Build dev shell
        run: |
          SYSTEM=$([ "${{ runner.os }}" = "macOS" ] && echo "aarch64-darwin" || echo "x86_64-linux")
          nix build .#devShells.$SYSTEM.default

      - name: Run unit tests
        run: |
          export CARGO_BUILD_JOBS=1
          export RUSTFLAGS="-C debuginfo=0 -C opt-level=0"
          nix develop --command cargo test -p steadystate
